/*
	Twenty 1.0 by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
*/

/* Basic */

	body, input, select, textarea {
		font-size: 14pt;
	}

	header.special {
		padding-top: 5.5em;
		margin-bottom: 1em;
	}
