@charset "UTF-8";

@font-face {
  font-family: "font-blognetwork";
  src:url(https://cdn3.dinosaurioss.com/wp-content/themes/blognetwork/assets/fonts/font-blognetwork.eot);
  src:url(https://cdn3.dinosaurioss.com/wp-content/themes/blognetwork/assets/fonts/font-blognetwork.eot) format("embedded-opentype"),
    url(https://cdn4.dinosaurioss.com/wp-content/themes/blognetwork/assets/fonts/font-blognetwork.woff) format("woff"),
    url(https://cdn2.dinosaurioss.com/wp-content/themes/blognetwork/assets/fonts/font-blognetwork.ttf) format("truetype"),
    url(https://cdn2.dinosaurioss.com/wp-content/themes/blognetwork/assets/fonts/font-blognetwork.svg) format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "FontBlognetwork" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="fv-"]:before,
[class*=" fv-"]:before,
.action-item.comments:before,
.bypostauthor > .comment-body .fn:before {
  font-family: "font-blognetwork" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bypostauthor > .comment-body .fn:before,
.fv-author:before {
  content: "\61";
}
.action-item.comments:before,
.fv-comment:before {
  content: "\62";
}
.fv-fullscreen:before {
  content: "\64";
}
.fv-search:before {
  content: "\66";
}
.fv-social:before {
  content: "\67";
}
.fv-watch-later:before {
  content: "\6a";
}
.fv-close:before {
  content: "\6b";
}
.fv-added:before {
  content: "\6c";
}
.fv-listen-later:before {
  content: "\6e";
}
.fv-listen-close:before {
  content: "\6d";
}
.fv-cart:before {
  content: "\6f";
}

.fv-hamburguer:before {
  content: "\68";
}